{% extends 'base.html' %}
{% load static %}
{% block title %}Generate Snippet{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'form.css' %}">
{% endblock %}
{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="form-container">
        <div>
            <h1>Generate Snippet</h1>

            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" name="generate_snippet">Generate Snippet</button>
            </form>
        </div>
    </div>
{% endblock %}
