{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'snippet/home.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}
{% block content %}
    <div class="home-container">
        {% if snippets %}
            <div>
                {% for snippet in snippets %}
                    <div class="snippet-card">
                        <p>{{ snippet.title }}</p>
                        <p>Likes: <span id="likes-{{ snippet.id }}">{{ snippet.num_like }}</span></p>
                        {% if user.is_authenticated %}
                            <button class="like-button" data-id="{{ snippet.id }}" id="like-btn-{{ snippet.id }}">Like</button>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="main-container">
            <div class="home-left">
                <h1 class="title">Save, Share, and Shine with Your Code.</h1 >
                <p class="description">Store your code snippets securely, share them with the community, and enhance your development workflow...</p >
            </div >
            <div class="home-right">
                <img src="{% static 'snippet/home.svg' %}" alt="Home Image" class="home-image">
            </div>

        </div>
        <div class="second-container">
            {% if user.is_authenticated %}
                <button onclick="window.location.href=`{% url 'generate_snippet' %}`" >Get Started</button >
            {% else %}
                <button onclick="window.location.href=`{% url 'login' %}`" >Get Started</button >
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block extra_scripts %}
<script>
    $(document).ready(function() {
        // Iterate over each button with the class 'like-button'
        $('.like-button').each(function() {
            var snippetId = $(this).data('id');
            console.log(snippetId);
            
            // Perform AJAX call for each button
            $.ajax({
                url: "{% url 'is_snippet_liked' snippet_id=0 %}".replace('0', snippetId),
                type: 'POST',
                dataType: 'json',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                success: function(response) {
                    $('#likes-' + snippetId).text(response.likes);
                    $('#like-btn-' + snippetId).text(response.is_liked ? "Dislike" : "Like");
                }
            });
        });

        $('.like-button').click(function() {
            var snippetId = $(this).data('id');
            $.ajax({
                url: "{% url 'like_snippet' snippet_id=0 %}".replace('0', snippetId),
                type: 'POST',
                dataType: 'json',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                success: function(response) {
                    $('#likes-' + snippetId).text(response.likes);
                    $('#like-btn-' + snippetId).text(response.is_liked ? "Dislike" : "Like");
                }
            });
        });
    });
</script>
{% endblock %}
