{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}My Website{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
        <link rel="icon" href="{% static 'default_profil.png' %}" type="image/png">
        {% block extra_head %}
        {% endblock %}
    </head>
    <body>
        {% if user.is_authenticated %}
            {% include 'navbar.html' %}
        {% endif %}

        <div class="content">
            {% block content %}{% endblock %}
        </div>
        {% block extra_scripts %}{% endblock %}
    </body>
</html>
