body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.main-layout {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    padding: 10px 0;
    border-right: 1px solid #ddd;
    background-color: #f8f9fa;
    padding-left: 40px;
    padding-bottom: 30px;
    padding-top: 30px;
    overflow-x: hidden;
}

.navbar-header {
    text-align: left;
    padding-left: 20px;
}

.navbar-header h1 {
    margin: 0;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
}

.navbar-menu,
.navbar-footer {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar-item {
    display: flex;
    align-items: center;
    padding: 10px 20px; /* Adjusted padding for better alignment */
    transition: background-color 0.3s;
    cursor: pointer;
    width: 60%;
    border-radius: 10px;
}

.navbar-item i {
    margin-right: 10px;
    font-size: 20px;
}

.navbar-item span {
    padding-left: 5px;
}

.navbar-item span,
.navbar-item .button-transparent {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    flex-grow: 1;
    text-align: left;
}
.button-transparent {
    padding: 3px 0px;
}
.navbar-item:hover {
    background-color: #e9ecef;
}

.generate {
    background: black;
    color: white;
}
.generate:hover {
    background: #333; /* Slightly lighter black */
    color: white;
}
.generate span {
    color: white;
}
.profile {
    display: flex;
    align-items: center;
    padding-left: 20px;
    cursor: pointer;
    padding-top: 5px;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-pic-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    flex-grow: 1;
    overflow-y: auto;
}

.navbar-item.active {
    font-weight: bold;
    color: #000;
}

.navbar-item.active i {
    font-weight: bold;
    color: #000;
}

.navbar-item.active i,
.navbar-item.active span {
    animation: pulse 0.5s ease-in-out;
}

@media (max-width: 768px) {
    .navbar {
        width: 200px;
    }

    .navbar-item a {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .navbar {
        width: 180px;
    }

    .navbar-item i {
        font-size: 18px;
    }

    .navbar-item a {
        font-size: 14px;
    }
}
